{{ define "content" }}
<div class="container mb-15">
    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end">
            <div class="bg-body d-flex flex-center flex-column p-10 rounded-4">
                <div class="d-flex flex-center flex-column align-items-stretch h-lg-100 w-md-400px">
                    <div class="d-flex flex-center flex-column flex-column-fluid">
                        <form action="" class="form w-100">
                            <div class="text-center mb-11">
                                <h1 class="text-dark fw-bolder mb-3">Login</h1>
                                <div class="text-gray-500 fw-semibold fs-6">Into your <span
                                        class="fw-bolder text-primary">TRANSMEDIA Career</span> Account
                                </div>
                            </div>
                            <div class="mb-8">
                                <input type="text" required placeholder="Email" name="email" autocomplete="off"
                                    class="form-control bg-transparent" />
                            </div>
                            <div class="mb-8">
                                <input type="password" required placeholder="Password" name="password"
                                    autocomplete="off" class="bg-transparent form-control" />
                                <div class="float-end">
                                    <a href="/forgot-password" class="fw-semibold">Forgot Password?</a>
                                </div>
                            </div>
                            <div class="mb-8">
                                <div id="captcha">
                                    <img src="/captcha/{{.captcha_id}}.png" alt="" class="rounded-4 w-100">
                                </div>
                                <div class="float-end">
                                    <a href="javascript:;" onclick="reloadCaptcha()" class="fw-semibold">Reload
                                        Captcha</a>
                                </div>
                            </div>
                            <div class="mb-8">
                                <input type="text" required placeholder="Captcha" name="captcha" autocomplete="off"
                                    class="form-control bg-transparent" />
                            </div>
                            <div class="d-grid mb-10">
                                <button type="submit" class="btn btn-primary">
                                    <span class="indicator-label">Login</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="bg-light-secondary card card-bordered rounded-4 mb-5">
                        <div class="card-body">
                            <div class="text-gray-500 text-center fw-semibold fs-6">Don't have an
                                account?
                                <a href="/registration" class="link-primary">Register</a>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="d-flex fs-base fw-semibold gap-5 justify-content-center text-primary">
                            <a href="/terms">Terms</a>
                            <a href="/privacy_policy">Privacy Policy</a>
                            <a href="#Footer">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}