<div style="height: 50px;" class="bg-white landing-header" data-kt-sticky="true" data-kt-sticky-name="landing-header"
    data-kt-sticky-offset="{default: '200px', lg: '300px'}">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center flex-equal">
                <button class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none" id="kt_landing_menu_toggle">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <a href="./">
                    <img alt="Logo" src="assets/media/logos/TRANSMEDIA.png" class="logo-default h-25px h-lg-30px" />
                    <img alt="Logo" src="assets/media/logos/TRANSMEDIA.png" class="logo-sticky h-20px h-lg-25px" />
                </a>
            </div>

            <div class="d-lg-block" id="kt_header_nav_wrapper">
                <div class="d-lg-block p-5 p-lg-0" data-kt-drawer="true" data-kt-drawer-name="landing-menu"
                    data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true"
                    data-kt-drawer-width="200px" data-kt-drawer-direction="start"
                    data-kt-drawer-toggle="#kt_landing_menu_toggle" data-kt-swapper="true"
                    data-kt-swapper-mode="prepend"
                    data-kt-swapper-parent="{default: '#home', lg: '#kt_header_nav_wrapper'}">
                    <div
                        class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-title-gray-600 menu-state-title-primary nav nav-flush fs-5 fw-semibold">
                        <div class="menu-item">
                            <a class="px-4 px-xxl-6 py-3 nav-link menu-link" href="" data-kt-scroll-toggle="true"
                                data-kt-drawer-dismiss="true">Home</a>
                        </div>
                        <div class="menu-item">
                            <a class="px-4 px-xxl-6 py-3 nav-link menu-link" href="/vacancies" data-kt-scroll-toggle="true"
                                data-kt-drawer-dismiss="true">Vacancies</a>
                        </div>
                        <div class="menu-item">
                            <a class="px-4 px-xxl-6 py-3 nav-link menu-link" href="" data-kt-scroll-toggle="true"
                                data-kt-drawer-dismiss="true">Internship</a>
                        </div>
                        <div class="menu-item">
                            <a class="px-4 px-xxl-6 py-3 nav-link menu-link" href="" data-kt-scroll-toggle="true"
                                data-kt-drawer-dismiss="true">Guidance</a>
                        </div>
                        <div class="menu-item">
                            <a class="px-4 px-xxl-6 py-3 nav-link menu-link" href="" data-kt-scroll-toggle="true"
                                data-kt-drawer-dismiss="true">About</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-equal text-end ms-1">
                <div class="fs-5 fw-semibold text-gray-600">

                    <a href="" class="nav-link menu-link active">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>